*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.header, .search-container{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container{
  gap: 5px;
}
.search-container input, .search-container button{
  font-size: 1.2rem;
  padding: 6px;
}
.search-container input{
  width: 20%;
}
.show-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 16px;
  padding: 10px;
}
.img-container{
  background-size: cover;
  width: 250px;
  height:366px;
}
.info-container{
  width: 60%;
  height: auto;
}
